.navbarContainer{
    justify-content: space-between;
}

.navbar {
    background-color: #000020;
    padding: 1rem 2rem;
}

.navbarOptions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 80px;
    padding-right: 1rem;
}

.link{
    text-decoration: none;
}

.drawerMoodCart{
    margin-top: 1.5rem;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1313px) {
    .navbarOptions{
        display: none !important;
    }

    .serachCartIconContainer{
        display: none !important;
    }

    .brandLink{
        display: none;
    }

    .burguerIcon{
        display: flex !important;
    }

    .navbar{
        justify-content: space-between;
        padding-right: 3rem;
    }
}