.businessName{
    background: linear-gradient(90deg, #330b61, #F5E2CF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 48px;
    font-weight: bold; 
}

.filterSelect{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 15%;
}