.errorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.errorContainer div{
    color: #881C3C;
    padding: 3rem 10rem;
    border: 2px #881C3C solid;
}

.errorContainer h3{
    margin-bottom: 3rem;
}

.btnError{
    background-color: #881C3C;
    border: 2px #881C3C solid;
}

.btnError:hover{
    color: #881C3C;
    border-color: #881C3C;
}

@media (max-width: 670px){
    .errorContainer div{
        padding: 3rem 5rem;
    }
}